In [2]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [39]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == '06')

In [40]:
#  3. Convert the June temperatures to a list.
june_temps= list(june_temps)

In [41]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temps, columns=['date','June Temps'])

In [42]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [44]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == '12')

In [45]:
# 7. Convert the December temperatures to a list.
dec_temps= list(dec_temps)

In [46]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temps, columns=["date","December Temps"])

In [47]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [52]:
june_precip =session.query(Measurement.date,Measurement.prcp).filter(extract('month',Measurement.date) == "6")
june_precip_df = pd.DataFrame(june_precip.all(),columns=["date","June Precipitation"])

In [53]:
june_precip_df

            date  June Precipitation
0     2010-06-01                0.00
1     2010-06-02                0.01
2     2010-06-03                0.00
3     2010-06-04                0.00
4     2010-06-05                0.00
...          ...                 ...
1695  2017-06-26                0.02
1696  2017-06-27                0.10
1697  2017-06-28                0.02
1698  2017-06-29                0.04
1699  2017-06-30                0.20

[1700 rows x 2 columns]

In [54]:
june_precip_df.describe()

       June Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [59]:
dec_precip =session.query(Measurement.date,Measurement.prcp).filter(extract('month',Measurement.date) == "12")
dec_precip_df = pd.DataFrame(dec_precip.all(),columns=["date","December Precipitation"])

In [60]:
dec_precip_df

            date  December Precipitation
0     2010-12-01                    0.04
1     2010-12-03                    0.00
2     2010-12-04                    0.00
3     2010-12-06                    0.00
4     2010-12-07                    0.00
...          ...                     ...
1512  2016-12-27                    0.14
1513  2016-12-28                    0.14
1514  2016-12-29                    1.03
1515  2016-12-30                    2.37
1516  2016-12-31                    0.90

[1517 rows x 2 columns]

In [61]:
dec_precip_df.describe()

       December Precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000